<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamtale.instant.message.api.mapper.ck.CkOrderMapper" >
  <resultMap id="BaseResultMap" type="com.dreamtale.instant.message.api.entity.ck.pojo.CkOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="salesman_no" property="salesmanNo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, salesman_no, product_id, count, price, amount, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ck_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ck_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dreamtale.instant.message.api.entity.ck.pojo.CkOrder" >
    insert into ck_order (id, salesman_no, product_id, 
      count, price, amount, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{salesmanNo,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT}, 
      #{count,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dreamtale.instant.message.api.entity.ck.pojo.CkOrder" >
    insert into ck_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salesmanNo != null" >
        salesman_no,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="salesmanNo != null" >
        #{salesmanNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dreamtale.instant.message.api.entity.ck.pojo.CkOrder" >
    update ck_order
    <set >
      <if test="salesmanNo != null" >
        salesman_no = #{salesmanNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dreamtale.instant.message.api.entity.ck.pojo.CkOrder" >
    update ck_order
    set salesman_no = #{salesmanNo,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      count = #{count,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryCkOrderList" >
    SELECT
    co.id AS id, co.salesman_no AS salesmanNo, co.product_id as productId, co.count as count,
    co.price AS  price, co.amount AS  amount, co.create_time AS createTime,
    cd.id AS districtNo, cd.name AS districtName, cu.name AS salesmanName, cu.phone AS salesmanPhone,
    cp.no AS no, cp.name AS productName, cp.unit AS unit, cp.batch_no AS batchNo, cp.low_no AS lowNo
     FROM ck_order co
     LEFT OUTER JOIN ck_user cu ON cu.id=co.salesman_no
     LEFT OUTER JOIN ck_district cd ON cu.district_no=cd.id
     LEFT OUTER JOIN ck_product cp ON cp.id=co.product_id
     ORDER BY create_time DESC
  </select>
</mapper>